name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    # should hopefully run one build at a time
    concurrency:
      group: ${{ github.workflow }}
    env:
      PLEXAPI_AUTH_SERVER_BASEURL: http://127.0.0.1:32400
      PLEX_CONTAINER: plexinc/pms-docker
      PLEX_CONTAINER_TAG: latest
    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@v6

      # https://github.com/wyvox/action-setup-pnpm
      - uses: wyvox/action-setup-pnpm@v3
        with: { node-version: 24 }

      - name: lint
        run: pnpm run lint

      - name: Get PMS Docker image digest
        id: docker-digest
        run: |
          mkdir -p ~/.cache/docker/${{ env.PLEX_CONTAINER }}
          echo "Image: ${{ env.PLEX_CONTAINER }}"
          echo "Tag: ${{ env.PLEX_CONTAINER_TAG }}"
          token=$(curl \
            --silent \
            "https://auth.docker.io/token?scope=repository:${{ env.PLEX_CONTAINER }}:pull&service=registry.docker.io" \
            | jq -r '.token')
          digest=$(curl \
            --silent \
            --header "Accept: application/vnd.docker.distribution.manifest.v2+json" \
            --header "Authorization: Bearer $token" \
            "https://registry-1.docker.io/v2/${{ env.PLEX_CONTAINER }}/manifests/${{ env.PLEX_CONTAINER_TAG }}" \
            | jq -r '.config.digest')
          echo "Digest: $digest"
          echo ::set-output name=digest::$digest

      - name: Cache PMS Docker image
        id: docker-cache
        uses: actions/cache@v5
        with:
          path: ~/.cache/docker/plexinc
          key: ${{ runner.os }}-docker-pms-${{ steps.docker-digest.outputs.digest }}

      - name: Pull PMS Docker image
        if: steps.docker-cache.outputs.cache-hit != 'true'
        run: |
          docker pull ${{ env.PLEX_CONTAINER }}:${{ env.PLEX_CONTAINER_TAG }}
          docker save -o ~/.cache/docker/${{ env.PLEX_CONTAINER }}-${{ env.PLEX_CONTAINER_TAG }}.tar ${{ env.PLEX_CONTAINER }}:${{ env.PLEX_CONTAINER_TAG }}
          echo "Saved image: ${{ env.PLEX_CONTAINER }}:${{ env.PLEX_CONTAINER_TAG }}"

      - name: Load PMS Docker image
        if: steps.docker-cache.outputs.cache-hit == 'true'
        run: |
          docker load -i ~/.cache/docker/${{ env.PLEX_CONTAINER }}-${{ env.PLEX_CONTAINER_TAG }}.tar

      - name: Set Plex credentials
        run: |
          echo "PLEXAPI_AUTH_SERVER_TOKEN=${{ secrets.PLEXAPI_AUTH_SERVER_TOKEN }}" >> $GITHUB_ENV

      - name: Bootstrap Plex server
        timeout-minutes: 8
        run: pnpm run bootstraptest -- --advertise-ip ${{ env.PLEXAPI_AUTH_SERVER_BASEURL }} --docker-tag ${{ env.PLEX_CONTAINER_TAG }} --server-wait-timeout-seconds 180 --server-connect-timeout-ms 5000

      - name: Unlink PMS from MyPlex account
        uses: webiny/action-post-run@3.1.0
        with:
          run: pnpm run teardowntest

      - name: test
        run: pnpm run test
